.index {
  background-color: $primaryColor;

}

.titre{
  padding: 100px;
  margin-top: 20px;
  font-size: 40px;
  font-family: Arial;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  text-align: center;
  background-size: cover;
  background-image: url("https://www.bestjobersblog.com/wp-content/uploads/2019/05/75-La-Reunion.jpg");

}

.premier{
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  font-size: 12px;
  font-family: Arial;
  color: #008080;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: 2px #CCCCCC solid;
  box-shadow: 6px 6px 6px black;
  padding: 6px;
  margin-left: 300px;
  margin-right: 300px;
}

.premiereImg {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.dimension{
  width: 240px;
  height: 60px;
  
}
.second{
  border: 2px #CCCCCC solid;
  margin-top: 100px;
  padding-top: 20px;
  background-color: white;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 20px;
  color: #008080;
  border-radius: 10px;
  box-shadow: 6px 6px 6px black;


  .ligne{
    display: flex;
    justify-content:center;
    padding: 10px;

    .element1{
      border:#CCCCCC 1px solid;
      border-radius: 10px;
      padding: 10px;
      padding-top: 10px;
      margin: 10px;
      text-align: center;
      flex-direction: column;
    }
  }
}

.textefin{
  color:black;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

.footer{
font-family: Helvetica, sans-serif;
color: #000000;
font-size: 12px;
line-height: 16px;
}

a:hover{
  color: green;
}
a{
  color: black;
  text-decoration: underline;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;

}

